#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.05); /* fallback */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
}